Django>=4.2
djangorestframework
django-cors-headers
django-redis>=5.2.0
redis>=4.5.0
dj-database-url
python-decouple
pandas
openpyxl
pdfplumber
PyMuPDF>=1.22.0
XlsxWriter
celery
gunicorn
python-dotenv
sqlalchemy>=1.4
psycopg2-binary
numpy
requests
gspread
oauth2client
gspread-dataframe
gspread-formatting
slack-sdk

