{% load django_vite %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Facturen Dashboard</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    
    <!-- Injects HMR client in development mode -->
    {% vite_hmr_client %}

    <!-- Injects JS & CSS bundle in dev or production -->
    {% vite_asset 'src/main.jsx' %}

    <meta name="theme-color" content="#000000" />
    <meta name="description" content="Facturen Logistics Dashboard" />
    <link rel="icon" href="/favicon.ico" />
  </head>

  <body class="bg-gray-100 text-gray-900">
    <noscript>You need to enable JavaScript to run this app.</noscript>
    <div id="root"></div>
  </body>
</html>
